<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; CapmsEngine 2022 &nbsp;&nbsp;&nbsp;&nbsp; @gurkirat singh mander &nbsp;&nbsp;&nbsp;&nbsp; singhgurkirat721@gmail.com &nbsp;&nbsp;&nbsp;&nbsp; gsingh10_be19@thapar.edu &nbsp;&nbsp;&nbsp;&nbsp; +91 9781466471 </span>
    </div>
</footer>
